* {
    box-sizing: border-box;
}

body {
    --color1: #e2bc5f;
    --color2: #000;
    --color3: #f5f5f5;
    background-color: var(--color3);
    font-family: Arial, Helvetica, sans-serif;
}
.loginContainer{
    width: 450px;
    margin: 110px auto;
    padding: 20px;
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    height: 500px;
}

.logo {
    width: 80px;
}

.login {
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
    opacity: .75;
}

.loginForm {
    display: flex;
    flex-direction: column;
  }

  label {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    color: #555;
  }

  input[type="email"], input[type="password"]{
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color3);
  border-radius: 3px;
}
  
  .loginButton {
    padding: 10px;
    margin-top: 40px;
    background-color: var(--color1);
    color: var(--color3);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    /* transition: background-color 0.3s ease; check */
  }
  
  .loginButton:hover {
    background-color: goldenrod;
  }  

  .signup{
    margin-top: 20px;
    text-decoration: none;
    color: var(--color2);
    opacity: .5;
  }

  .signup:hover {
    font-size: 18px;
    color: goldenrod;
  }  
